h1 {
  font-size: 48px;
}

#scratch, #python, #csharp, #brainf--k, #cplusplus, #javascript, #java{
  display: none;
}

.block {
  border-width: 3px;
  border: solid black;
  background-color:azure;
  color:darkslateblue;
  padding: 2%;
  margin: 5%;
  text-align: center;
  font-weight: 500;
}

.block .code {
  border-width: 3px;
  border: solid darkslateblue;
  box-sizing: border-box;
  margin: auto;
  padding: 1%;
  padding-top: 3%;
  text-align: left;
  font-family: monospace;
  font-weight: bolder;
  line-height: 4px;
}

.radio {
  text-align: left;
}

.btn {
  margin: 5%;
}