body {
  background-color: black;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}

p {
  text-align: left;
}

img {
  margin: auto;
  display: block;
}

#scratch, #python, #csharp, #brainf--k, #cplusplus, #javascript, #java{
  display: none;
}

.box {
  border: 5px solid black;
  background-color: antiquewhite;
  color: black;
  padding: 2%;
  margin: 5%;
  box-sizing: border-box;
  font-weight: 500;
}

.box .code {
  color: rgb(0, 195, 0);
  background-color: rgb(26, 37, 37);
  margin: auto;
  padding: 3%;
  text-align: left;
  font-family: monospace;
  font-weight: bolder;
  line-height: 4px;
}

.radio {
  
  text-align: left;
}

label {
  display: block;
}

#color {
  margin-left:30%;
  margin-right:30%;
  width: 40%;
  display:block;
}

.btn {
  margin: 5%;
  border: solid black;
  border-width: 5px;
  background: black;
  color: antiquewhite;
  margin: auto;
  display: block;
}

.btn:hover {
  color: rgb(255, 191, 108);
}